type Pubsub struct {
	client     client.Client
	pubsubName string
}

func NewPubsub(c client.Client, name string) *Pubsub {
	return &Pubsub{client: c, pubsubName: name}
}

{{range .Events}}
func (p *Pubsub) Publish{{.Name}}(ctx context.Context, event {{.Name}}) error {
	data, err := json.Marshal(event)
	if err != nil {
		return err
	}
	return p.client.PublishEvent(ctx, p.pubsubName, "{{.Topic}}", data)
}
{{end}}
